<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>详情页</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/main.css">
	<link rel="stylesheet" href="../stylesheets/detail.css">

	<script src="../javascripts/sea.js"></script>
	<script>
		seajs.use('http://localhost:3000/javascripts/main');
	</script>
	<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
	</script>
	<style>
		html{
			overflow-x: hidden;
		}
		.table-style{
			background: black!important;
			color: white;
		}
	</style>
</head>
<body id="backTop">
	<div class="header">
		<div class="logo">
			<img src="../images/logo.png" alt="">
		</div>
		<div class="tutor">
			<div class="t_1001">
				<strong>0571-8502312</strong>
				<span>
					<img src="../images/top_img1.png" alt="">
					服务热线：
				</span>
				<strong> 欢迎 <%= username %> </strong>
			</div>
			<div class="t_1002">
				<ul class="li_container">
					<li class="li_tu">
						肥羊租机
					</li>
					<li class="li_tu">
						产品
					</li>
					<li class="li_tu">
						<% if (username) { %>
							<a id="btn_perfect" href="/perfect">完善信息</a>
						<% } %>
					</li>
					<li class="li_tu">
						<% if (username) { %>
							<a href="/center">个人中心</a>
						<% } %>
					</li>
					<li class="li_tu">
						<a href="/admin">管理员登陆</a>
					</li>
					<li class="li_tu">
						<% if (username) { %>
							<a id="show_LR" href="/signout">退出</a>
						<% } else { %>
							<a id="show_LR" href="javascript:;">登陆/注册</a>
						<% } %>
					</li>
					<li class="li_tu">
						联系我们
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="container">
		<div id="container-center">
			<div class="container-l">
				<div class="img-container" id="photo_1">
					<div class="img-container-children" id="photo_2">
						<img src="images/detail-1.jpg" Index="1" id="photo1">
						<img src="images/detail-2.jpg" Index="2" id="photo2">
						<img src="images/detail-3.jpg" Index="3" id="photo3">
						<img src="images/detail-4.jpg" Index="4" id="photo4">
						<img src="images/detail-5.jpg" Index="5" id="photo5">
						<a href="javascript:;" id="prev" class="arrow">&lt;</a>
						<a href="javascript:;" id="next" class="arrow">&gt;</a>
					</div>
				</div>
				<div id="circle-container">
					<div id="circle-container-first">
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<div class="container-r">
				<p class="ip">iphone7</p>
				<div class="shoujia">官网售价：￥5388</div>
				<form id="send_form" enctype="multipart/form-data">
					<div id="color" class="color">
						<p>颜色：</p>
						<div>
							<label for="">土豪金</label>
							<input type="radio" value="土豪金" name="color" checked="checked">
						</div>
						<div class="distance">
							<label for="">玫瑰金</label>
							<input type="radio" value="玫瑰金" name="color">
						</div>
						<div class="distance">
							<label for="">银色</label>
							<input type="radio" value="银色" name="color">
						</div>
						<div class="distance">
							<label for="">亮黑</label>
							<input type="radio" value="亮黑" name="color">
						</div>
					</div>
					<div class="version">
						<p>版本：</p>
						<div>
							<label for="">全网通</label>
							<input type="radio" name="version" value="全网通" checked>
						</div>
					</div>
					<div class="store">
						<p>内存：</p>
						<div>
							<label for="">32G</label>
							<input type="radio" value="32G" name="store" checked>
						</div>
						<div class="distance">
							<label for="">128G</label>
							<input type="radio" value="128G" name="store">
						</div>
						<div class="distance">
							<label for="">256G</label>
							<input type="radio" value="256G" name="store">
						</div>
					</div>
					<div class="experience">
						<p>体验时间：</p>
						<select name="time">
							<option value="六个月" checked>六个月</option>
							<option value="七个月">七个月</option>
							<option value="八个月">八个月</option>
						</select>
					</div>
					<div class="pay">
						<p class="pay-1">首付租金：￥369</p>
						<p class="pay-2">(月租￥249+保障服务费￥120)</p>
						<input id="btn_buy" class="send" type="button" value="立即预约">
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(() => {
			$("#btn_buy").on("click", () => {
				var data = new FormData(document.forms[0]);
				$.ajax({
					url: "shopping",
					type: "POST",
					data: data,
					processData: false,
					contentType: false,
					success: (res, status) => {
						if(status == "success")
						{
							alert(res);
						}
					}
				});
			});
		});
	</script>
	<!-- 第三大部分 -->
	<div id="third">
		<div class="third-a">
			<div class="third-a-1">
				<div class="third-a-1-l" id="p1">
					<p>商品详情</p>
				</div>
				<div class="third-a-1-r" id="p2">
					<p>累计评价</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 第四大部分 -->
	<div id="fourth" style="display: none;">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-bordered">
					<tbody>
						<div>
							<% if(bool){ %>
								<% msg.forEach((item) => { %>
									<tr class="row table-style">
										<td class="lead col-md-7">
											<%= item.comment %>
										</td>
										<td class="col-md-5">
											<div class="lead">
												网络类型：<%= item.version %>	
											</div>
											<div class="lead">
												机身颜色：<%= item.color %>
											</div>
											<div class="lead">
												储存容量：<%= item.store %>
											</div>
											<div class="lead">
												用户 : <%= item.username %>
											</div>
										</td>
									</tr>
								<% }) %>
							<% } else { %>
								<div>暂无评价</div>
							<% } %>
						</div>
					</tbody>
				</table> 
			</div>
		</div>
	</div>
	<!-- 第五大部分 -->
	<div id="detail_1">
		<div id="fifth">
			<div class="fifth-a">
				<img src="images/detail1.jpg" alt="">
			</div>
		</div>
	</div>

	<div id="LR" class="landregister" style="display: none; z-index: 800">
		<div class="land_header">
			<img src="../images/register.jpg" alt="">
			<img id="cancel" class="cancel" src="../images/menu_img2.png" alt="">
			<div class="l_r_c">
				<div id="land" class="l">登陆</div>
				<div id="register" class="r">注册</div>
			</div>
		</div>
		<div id="land_content" class="content_l_r">
			<div class="input_body">
				<label>用户名:</label>
				<input id="username_land" name="userName" type="text" placeholder="请输入用户名">
			</div>
			<div class="input_body">
				<label class="distance" for="">密码:</label>
				<input id="password_land" name="password" type="password" placeholder="请输入密码">
			</div>
			<div class="input_body">
				<a href="javascript:;">忘记密码</a>
			</div>
			<div class="submit">
				<input id="land_btn" type="button" value="提交">
			</div>
		</div>
		<script>
			$(document).ready(() => {
				$("#land_btn").on("click", () => {
					var data = {
						username: $("#username_land").val(),
						password: $("#password_land").val()
					};
					$.ajax({
						url: '/signin',
						type: "POST",
						data: JSON.stringify(data),
						contentType: "application/json",
						success: (res, status) => {
							if(status == "success")
							{
								if(res == "304"){
									location.href = "/perfect";
								}
								else{
									var array = res.split(",");
									if(array.length == 2){
										location.href = '/';
									}
								}
							}
							else
							{
								alert("登陆失败");
							}
						}
					});
				});
			});
		</script>
		<div id="register_content" class="content_l_r" style="display: none;">
			<div class="input_body">
				<label for="">用户名:</label>
				<input id="username_re" name="userName" type="text" placeholder="请输入用户名">
			</div>
			<div class="input_body">
				<label class="distance" for="">密码:</label>
				<input id="password_re" name="password" type="password" placeholder="请输入密码">
			</div>
			<div class="input_body">
				<label for="">手机号:</label>
				<input id="phone_re" name="mobileNumber" type="text" placeholder="请输入手机号">
			</div>
			<div class="submit">
				<input id="btn_re" type="button" value="提交">
			</div>
		</div>
	</div>
	<script>
		$(document).ready(() => {
			$("#btn_re").on("click", () => {
				var data = {
					username: $("#username_re").val(),
					password: $("#password_re").val(),
					phonenumber: $("#phone_re").val()
				};
				$.ajax({
					url: '/signup',
					type: "POST",
					data: JSON.stringify(data),
					contentType: "application/json",
					success: (res, status) => {
						if(status == "success")
						{
							alert(res);
						}
						else
						{
							alert("注册失败");
						}
					}
				});
			});
		});
	</script>
	<div class="backTop"> 
		<a href="#backTop"><img src="../images/down_img8.png" alt=""></a>
	</div>
</body>
</html>